body 
  {
    background-color: rgb(25, 27, 27);
    color: whitesmoke;
    font-family: Arial;
    font-weight: bold;
  }
  .title
  {
    font-size: 35px;
  }
  .move-button 
  {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 70px;
    border: 3px solid white;
    margin-right: 20px;
    cursor: pointer;

  }
  .move-image 
  {
    width: 40px;
    height: 40px;
    background-color: transparent;
  }
  .reset
  {
    padding: 20px 40px;
    border: none;
    background-color: teal;
    color: whitesmoke;
    border-radius: 70px;
    font-size: 20px;
    font-weight: bold;
  }
  .result
  {
    font-size: 30px;
  }